<%= turbo_frame_tag "room" do %>
  <p>
    <strong>Name:</strong>
    <%= @room.name %>
  </p>

  <%= link_to 'Edit', edit_room_path(@room) %> |
  <%= link_to 'Back', rooms_path, data: { turbo_frame: '_top' } %>
<% end %>

<div id="messages">
  <%= render @room.messages.order(:created_at) %>
</div>

<%= link_to 'New Message', new_room_message_path(@room) %>
